:root {
    --main-color-black: #100E0E;
    --main-color-purple: #5A3E51;
    --main-color-purpleLight: #D9DAFF;
    
}


body {
    background-color: var(--main-color-purpleLight) !important;
    font-family: 'Lexend', sans-serif;
}


nav {
    height: 70px !important;
    width: 100%;
    background-color: var(--main-color-black);
    color: var(--main-color-purpleLight);
    display: flex !important;
    align-items: center !important;
    box-shadow: 10px 5px 5px grey;
    margin-bottom: 0px;
}

nav li {
    font-size: 25px;
}

nav i {
    font-size: 25px !important;
}

nav input:nth-child(1) {
    margin-left: 60px;
    width: 350px !important;
    height: 38px;
    border-radius: 10px !important;
}

nav img {
    height: 70px !important;
    width: 70px !important;
}

.navbar-collapse {
    background-color: var(--main-color-black);
    
}

div h1 {
    font-weight: bold;
    font-size: 48px !important;
}

h2 {
    color: var(--main-color-black);
    margin-top: 55px !important;
    font-size: 30px !important;
    font-weight: 900 !important;
    font-family: 'Lexend', sans-serif !important;
}


h3 {
    color: var(--main-color-purpleLight);
    font-size: 25px !important;
}

div i {
    font-size: 60px;
    color: white;
    letter-spacing: 20px;
}

p {
    font-size: 50px;
}

button {
    font-weight: bold;
    font-size: 55px;
    padding: 20px;
    color: var(--main-color-purpleLight);
    background-color: var(--main-color-black);
    border-radius: 15px;
}

/* TABLE */

.tableCollection {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid blue;
    border-radius: 50px !important;
}
table img {
    width: 45px;
    height: 45px
}
table p {
    font-size: 15px;
}
table tr {
    border: none;
    height: 110px;
}

table tr:hover {
    background-color: #5A3E51;
}

footer {
    border-top: 1px solid var(--main-color-purpleLight);
    margin-top: 300px;
    background-color: var(--main-color-black);
    color:var(--main-color-purpleLight);
    
}

footer div {
    background-color: var(--main-color-black);
}

footer p {
    font-weight: 500;
    font-size: 12px !important;
}
footer p:hover, footer i:hover, footer h2:hover {
    color: var(--main-color-purple);
    cursor: pointer;
}

footer i {
    font-size: 20px !important;
}

footer h4 {
    font-size: 20px !important;
}

/*ACTUALITE DESKTOP */

#actualite {
    margin-top: 0px;
    height: 700px;
    width: 90% !important;
    border-radius: 30px;
    background-color: #5A3E51;
    margin-top: 160px;
}

#actualite p {
    font-size: 15px;
    color: grey;
}

.imgActu1 {
    
    border-radius: 30px;
}

/*OFFCANVAS*/

.offcanvas {
    display: flex;
    justify-content: start;
}

.offcanvas label {
    font-size: 15px !important;
    display: flex;
    justify-content: left;
}
.offcanvas #form2Example1, .offcanvas #form2Example2 {
    width: 250px !important;
}

.offcanvas h4 {
    font-size: 20px !important;
}

.offcanvas .form-check-input {
    width: 15px !important;
    height: 15px !important;
}

.offcanvas a {
    font-size: 12px !important;
}

.offcanvas p {
    font-size: 20px;
}

/* CONTENU HIDDEN DESKTOP & VISIBLE MOBILE*/

.textHidden {
    color: #100E0E;
    visibility: hidden;
    height: 0px;
}

#actualite1 {
    height: 700px;
    width: 95%;
    border-radius: 30px;
    background-color: #5A3E51;
    visibility: hidden;
    height: 0px;
}

#article {
    width: 95%;
    
}

.article1 {
    height: 200px;
}

.button1 {
    color: var(--main-color-purpleLight);
    background-color: var(--main-color-black) !important;
    opacity: 0.8 !important;
    font-size: 20px;
    border-radius: 17px;
    padding: 15px;
    margin: 5px;
    width: 200px;
    border: 1px solid var(--main-color-black);
}

.buttonCategorie {
    color: var(--main-color-purpleLight);
    background-color: var(--main-color-black) !important;
    font-size: 15px;
    border-radius: 17px;
    padding: 10px;
    margin: 5px;
    width: 150px;
    transition: 0.5s ease-in-out !important;
    opacity: 0.8 !important;
}

.buttonCategorie:hover, .button1:hover {
    opacity: 1 !important;
    
}


.btn {
    border-radius: 50%;
    border: 30px;
}

.navbar-brand {
    height: 280px;
    width: 280px;
    
}

.nav-item:hover {
    color: red;
}

.h1 {
    font-size: 500px;
}


.buttonSearch{
    margin-right: 500px
}

.carouselExampleCaptions {
    height: 100px;
}

.carou {
    display: flex;
    height: 100%;
    align-items: center;
}

.yo {
    height: 400px;
    width: 300px;
    border-radius: 25px;
}


/*GERER CONTENU CARD*/
.card h5 {
    font-weight: bold;
}
.card h6 {
    font-size: 1rem;
    color: grey;
}
.card p {
    font-size: 1rem;
    font-weight: bold;
}

.card1 {
    border-color: black;
    border-radius: 55px;
    border-style: solid;
    border-width: 1px;
    height: 360px;
    max-width: 220px;
    /*transition: 0.5s ease-in-out;*/
    border-radius: 30px!important;
    font-size: 10px !important;
    overflow-y: hidden;
}

.card1 img {
    border-radius: 30px 30px 0 0;
    max-width: auto;
    height: 350px;
}

.card1 .card-img-top {
    object-fit: cover;
    height: 224px;
}


.card1 .card-text {
    font-size: 10px;

}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 200ms ease-in-out;
    border: 1px solid;
}

/*CARD ARTICLE*/

.card2 {
    border-radius: 30px !important;
}

.card2 img {
    border-radius: 30px 30px 0 0;
    height: 250px;
}

.card2 .card-img-top {
    object-fit: fill;
    max-height: 380px;
}
.card2 p {
    font-size: 30px;
    font-weight: bold;
}


.offcanvas {
    font-size: 20px !important;
    color: black;
}

.test {
    width: 95%;
}

.eth {
    width: 25px;
    height: 50px;
}

.carousel {
    width: 100%;
    height: 300px;
}


.carousel-item img {
    max-width: auto;
    height: 550px;
    border-radius: 30px;
    object-fit: cover;
}

.textChange:after{
    color: var(--main-color-purpleLight);
    content: 'MANGA';
    animation: text 10s ease-out infinite;
}

.textChange1:after {
    color: var(--main-color-purple);
    content: 'MANGA';
    animation: text 10s ease-out infinite;
}

/* CONTENU CACHEE DESKTOP & TABLET */

.textMobile {
    
    visibility: hidden;
    height: 0;
}

@keyframes text {
    25% {
        content: 'FUTUR'
    }
    50% {
        content: 'ART';
    }
    75% {
        content: 'META'.
    }
}

#carouselExampleCaptions {
    width: 100%;
    height: auto;
    border-radius: 100px;
    margin-top: 250px;
}

#carouselExampleControlsNoTouching {
    width: auto;
    height: auto;
}

/* MEDIA QUERIES */




@media screen and (max-width: 1900px) {
    .imgActu1 {
        height: 200px;
    }
}

@media screen and (max-width: 1700px) {
    .imgActu1 {
        height: 300px;
    }
    
    #actualite h3 {
        font-size: 40px;
    }
    #actualite {
        height: 550px;
    }

    footer p, footer i {
        font-size: 25px;
    }
    footer h4 {
        font-size: 30px;
    }
    
}


@media screen and (max-width: 1470px) {
    .imgActu1 {
        height: 230px;
    }
    .card h5 {
        font-size: 16px;
    }
    .card h6 {
        font-size: 11px;
        color: grey;
    }
    .card p {
        font-size: 11px;
    }

    
}

@media screen and (max-width: 1200px) {

    #actualite {
        height: 350px;
    }
    .imgActu1 {
        height: 180px;
    }

    #actualite button {
        width: 100px;
        font-size: 20px;
        height: 40px;
    }
    #actualite h1 {
        font-size: 30px !important;
    }
    #actualite h3 {
        font-size: 25px!important;
    }
    .button1 {
        display: flex;
        justify-self: center;
        align-items: center;
        font-size: 10px !important;
        width: 105px !important;
    }
    .textActu {
        font-size: 12px !important;
    }
    nav img {
        width: 60px !important;
        height: 60px !important
    }

}


@media screen and (max-width: 991px) {

    .navbar-brand {
        height: 110px;
        width: 110px;
        
    }

    .buttonSearch {
        visibility: hidden;
    }

    .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /*CAROUSEL ACTUALITE*/

    #actualite {
        height: 300px;
    }

    .imgActu1 {
        height: 150px;
    }

    #actualite h1 {
        font-size: 25px;
    }

    #actualite h3 {
        font-size: 20px !important;
    }
    .button1 {
        font-size: 10px !important;
        width: 120px;
    }
    
    .imgActu1 {
        height: 180px;
    }
    /*CARD */

    .card h5 {
        font-size: 20px;
    }
    .card h6 {
        font-size: 15px;
        color: grey;
    }
    .card p {
        font-size: 15px;
    }

    
}
@media screen and (max-width: 870px) {
    .imgActu1 {
        height: 150px;
    }

}


@media screen and (max-width: 750px) {
    #actualite {
        height: 300px;
    }

    .imgActu1 {
        height: 120px;
    }

    #actualite h1 {
        font-size: 22px !important;
    }

    #actualite h3 {
        font-size: 18px !important;
}
}

@media screen and (max-width: 600px) {

    .navbar-brand {
        height: 95px;
        width: 95px;
    }
    .textMobile {
        visibility: visible;
        font-size: 20px;
        height: 150px;
        margin-top: 0px;
    }

    .card1 {
        margin-bottom: 20px;
        height: 320px;
        overflow-x: auto;
    }

    .card1 .card-img-top {
        height: 200px;
    }
/* CONTENU HIDDEN DESKTOP & VISIBLE MOBILE*/
    #actualite {
        visibility: hidden;
        height: 0px;
        margin-top: 0px;
        
    }
    .textHidden {
        visibility: visible;
        color: var(--main-color-black);
        text-align: center;
        margin-top: 170px;
        font-weight: bold;
        font-size: 40px;
    }

    #actualite1 {
        visibility: visible;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0px;
        height: 350px;
        width: 100%;
        margin-top: 150px;
    }

    #actualite1 .imgActu {
        height: 250px;
        
    }
    
    #actualite1 h1, #actualite1 h3, #actualite1 button {
        visibility: hidden;
        height: 0px;
    }

    nav {
        height: 100px;
    }
    h2 {
        font-size: 20px !important;
    }

    /* TABLE */

    table th {
        font-size: 14px;
        
    }
    table p {
        font-size: 10px;
    }
    table span, table button {
        font-size: 9px !important;
    }
    table tr {
        height: 60px;
    }
    table td {
        
        font-size: 10px;
    }
    table img {
        width: 30px !important;
        height: 30px !important;
    }


}

@media screen and (max-width: 500px) {
    table th {
        font-size: 8px;
    }
    table p {
        font-size: 6px;
    }
    table span, table button {
        font-size: 6px !important;
    }
    table tr {
        height: 50px;
    }
    table td {
        
        font-size: 6px;
    }
    table img {
        width: 25px !important;
        height: 25px !important;
    }

}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 30px !important;
    }
    /*CARD */

    .card h5 {
        font-size: 15px;
    }
    .card h6 {
        font-size: 10px;
        color: grey;
    }
    .card p {
        font-size: 10px;
    }
}


.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background:var(--main-color-purple);

    transition: 0.2s;
}

.nav-item:hover::after{
    width:100%;
}

.navbar-dark .navbar-nav .active > .nav-link, -dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}

/*test modal*/
