:root {
    --main-color-black: #100E0E;
    --main-color-purple: #5A3E51;
    --main-color-purpleLight: #D9DAFF;
    --main-color-background: rgb(217,217,255);
    --main-color-title : #000000;
    
}


body {
    background-color: var(--main-color-background) !important;
    font-family: 'Lexend', sans-serif;
}

img {
    cursor: pointer;
}

/*NAVBAR*/
nav {
    background-color: black;
    height: 80px;
}

.nav-link:hover {
    color: var(--main-color-black) !important;
    background-color: var(--main-color-purple);
    border-radius: 20px !important;
    transition: 600ms;
    
}


.navbar .nav-link {
    font-size: 16px;
    font-weight: 500;
    margin-left: 30px;
    position: relative;
    color: var(--main-color-purpleLight);
    border-radius: 20px !important;
}

.navbar .navbar-brand img{
    max-height: 70px;
    
}

/*
.navbar .nav-link::before {

    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 0px;
    height: 2px;
    color: #5A3E51 !important;
    background-color: var(--main-color-purple);
    box-shadow: 0px 0px 8px var(--main-color-purple);
    transition: all .6s ease;
    transform-origin: center;
}*/
/*
.navbar .nav-item:hover .nav-link::before {
    width: 100%;
}*/

.navbar .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.navbar .toggle-btn {
    cursor: pointer;
    position: relative;
    top: 5px;
    z-index: 1100;
}

.navbar .toggle-btn .bar {
    width: 25px;
    height: 3px;
    margin: 7px 0 7px auto;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: var(--main-color-purpleLight);
}

.navbar .toggle-btn .bar:nth-child(2) {
    width: 35px;
}

.navbar #toggle-menu {
    display: none;
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(2) {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(1) {

    -webkit-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    transform: translateY(12px) rotate(45deg);
}

.navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(3) {

    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

.modal-dialog {
    margin-left: -3px;
    margin-top: -3px;
    width: 85%;
}

.modal-dialog .modal-content{
    background-color: var(--main-color-purple);
}

.modal-dialog .modal-header, .modal-dialog .modal-footer{
    border: none;
}

.modal-dialog .modal-header img{
    max-height: 40px;
}

.modal-dialog .modal-body {
    padding-top: 65px;
    background-color: var(--main-color-black);
}

.modal-dialog .nav-link {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--main-color-purpleLight);
}

.modal-dialog .nav-link i {
    font-size: 30px;
    margin-right: 10px;
    color: var(--main-color-purpleLight);
}

.dropdown-menu{
    font-weight: 700 !important;
    background-color: var(--main-color-purpleLight) !important;
}

.dropdown-item{
    color: var(--main-color-black) !important;
}

.modal-dialog .btn-secondary{
    font-weight: 700;
    color: var(--main-color-purple);
    background-color: var(--main-color-black);
    border: none;
}

.fa-moon {
    font-size: 20px;
    color: var(--main-color-purpleLight);
}
/*FIN NAVBAR */

h1 {
    color: var(--main-color-black);
    font-weight: 700 !important;
    font-size: 45px !important;
}

h2 {
    color: var(--main-color-title);
    margin-top: 55px !important;
    font-size: 30px !important;
    font-weight: 900 !important;
    font-family: 'Lexend', sans-serif !important;
}


h3 {
    color: var(--main-color-purpleLight);
    font-size: 25px !important;
}

div i {
    font-size: 60px;
    color: white;
    letter-spacing: 20px;
}

p {
    font-size: 50px;
}

button {
    font-weight: bold;
    font-size: 55px;
    padding: 20px;
    color: var(--main-color-purpleLight);
    background-color: var(--main-color-black);
    border-radius: 15px;
}

/* TABLE */

.tableCollection {
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid blue;
    border-radius: 50px !important;
}
table img {
    width: 45px;
    height: 45px
}
table p {
    font-size: 15px;
}
table tr {
    border: none;
    height: 110px;
}

table tr:hover {
    background-color: #5A3E51;
}

footer {
    border-top: 1px solid var(--main-color-purpleLight);
    margin-top: 300px;
    background-color: var(--main-color-black);
    color:var(--main-color-purpleLight);
    
}

footer div {
    background-color: var(--main-color-black);
}

footer p, footer span {
    font-weight: 500;
    font-size: 12px !important;
}
footer p:hover, footer i:hover, footer h2:hover {
    color: var(--main-color-purple);
    cursor: pointer;
}

footer i {
    font-size: 20px !important;
}

footer h4 {
    font-size: 20px !important;
}

/*ACTUALITE DESKTOP */

#actualite {
    height: 450px !important;
    width: 90% !important;
    border-radius: 30px;
    background-color: #5A3E51;
    margin-top: 200px;
}

#actualite p {
    font-size: 15px;
    color: grey;
}

.imgActu1 {
    
    border-radius: 30px;
}


/* CONTENU HIDDEN DESKTOP & VISIBLE MOBILE*/

.textHidden {
    color: var(--main-color-title) !important;
    visibility: hidden;
    height: 0px;
}

#actualite1 {
    height: 700px;
    width: 95%;
    border-radius: 30px;
    background-color: #5A3E51;
    visibility: hidden;
    height: 0px;
}

#article {
    width: 95%;
    
}

.article1 {
    height: 200px;
}

.button1 {
    display: flex;
    justify-content: center;
    color: var(--main-color-purpleLight);
    background-color: var(--main-color-black) !important;
    opacity: 0.8 !important;
    font-size: 20px;
    border-radius: 17px;
    padding: 15px;
    margin: 5px;
    width: 200px;
    border: 1px solid var(--main-color-black);
}

.buttonCategorie {
    color: var(--main-color-purpleLight);
    background-color: var(--main-color-black) !important;
    font-size: 15px;
    border-radius: 17px;
    padding: 10px;
    margin: 5px;
    width: 150px;
    transition: 0.5s ease-in-out !important;
    opacity: 0.8 !important;
}

.buttonCategorie:hover, .button1:hover {
    opacity: 1 !important;
    transition: 600ms;
    
}


.btn {
    border-radius: 50%;
    border: 30px;
}

.buttonSearch{
    margin-right: 500px
}

.carouselExampleCaptions {
    height: 100px;
}

.carou {
    display: flex;
    height: 100%;
    align-items: center;
}

.yo {
    height: 400px;
    width: 300px;
    border-radius: 25px;
}


/*GERER CONTENU CARD*/
.card h5 {
    font-weight: bold;
}
.card h6 {
    font-size: 1rem;
    color: grey;
}
.card p {
    font-size: 1rem;
    font-weight: bold;
}

.card1 {
    
    border-color: black;
    border-radius: 55px;
    border-style: solid;
    border-width: 1px;
    height: 360px;
    max-width: 220px;
    /*transition: 0.5s ease-in-out;*/
    border-radius: 30px!important;
    font-size: 10px !important;
    overflow-y: hidden;
}

.card1 img {
    border-radius: 30px 30px 0 0;
    max-width: auto;
    height: 350px;
}

.card1 .card-img-top {
    object-fit: cover;
    height: 224px;
}


.card1 .card-text {
    font-size: 10px;

}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 500ms;
    border: 1px solid;
}

/*CARD ARTICLE*/

.card2 {
    border-radius: 30px !important;
}

.card2 img {
    border-radius: 30px 30px 0 0;
    height: 250px;
    width: auto;
}

.card2 .card-img-top {
    object-fit: fill;
    max-height: 380px;
    width: auto;
}
.card2 p {
    font-size: 30px;
    font-weight: bold;
}


.offcanvas {
    font-size: 20px !important;
    color: black;
}

.test {
    width: 95%;
}

.eth {
    width: 25px;
    height: 50px;
}

.carousel {
    width: 100%;
    height: 300px;
}


.carousel-item img {
    max-width: auto;
    height: 550px;
    border-radius: 30px;
    object-fit: cover;
}

.textChange:after{
    color: var(--main-color-purpleLight);
    content: 'MANGA';
    animation: text 10s ease-out infinite;
}

.textChange1:after {
    color: var(--main-color-purple);
    content: 'MANGA';
    animation: text 10s ease-out infinite;
}

/* CONTENU CACHEE DESKTOP & TABLET */

.textMobile {
    
    visibility: hidden;
    height: 0;
}

@keyframes text {
    25% {
        content: 'FUTUR'
    }
    50% {
        content: 'ART';
    }
    75% {
        content: 'META'
    }
}

#carouselExampleCaptions {
    width: 100%;
    height: auto;
    border-radius: 100px;
    margin-top: 250px;
}

#carouselExampleControlsNoTouching {
    width: auto;
    height: auto;
}

/* MEDIA QUERIES */




@media screen and (max-width: 1900px) {
    .imgActu1 {
        height: 200px;
    }
}

@media screen and (max-width: 1700px) {
    .imgActu1 {
        height: 300px;
    }
    
    #actualite h3 {
        font-size: 40px;
    }
    footer p, footer i {
        font-size: 25px;
    }
    footer h4 {
        font-size: 30px;
    }
    
}


@media screen and (max-width: 1470px) {
    .imgActu1 {
        height: 230px;
    }
    .card h5 {
        font-size: 16px;
    }
    .card h6 {
        font-size: 11px;
        color: grey;
    }
    .card p {
        font-size: 11px;
    }
}

@media screen and (max-width: 1200px) {

    #actualite {
        margin-top: 150px;
        height: 400px !important;
    }
    .imgActu1 {
        height: 180px !important;
    }

    #actualite button {
        width: 100px;
        font-size: 20px;
        height: 40px;
    }
    #actualite h1 {
        font-size: 30px !important;
    }
    #actualite h3 {
        font-size: 25px!important;
    }
    .button1 {
        display: flex;
        justify-self: center;
        align-items: center;
        font-size: 10px !important;
        width: 105px !important;
    }
    .textActu {
        font-size: 12px !important;
    }
    nav img {
        width: 60px !important;
        height: 60px !important
    }
    /*CARD ACTUALITE*/
    .card2 {
        width: auto !important;
    }
    .card2 .card-body {
        height: 100px;
    }
    .card2 img {
        height: 200px;
        
    }
}


@media screen and (max-width: 991px) {
    .buttonSearch {
        visibility: hidden;
    }

    .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /*CAROUSEL ACTUALITE*/

    #actualite {
        height: 300px !important;
    }

    .imgActu1 {
        height: 160px !important;
    }

    #actualite h1 {
        font-size: 25px;
    }

    #actualite h3 {
        font-size: 20px !important;
    }
    .button1 {
        font-size: 10px !important;
        width: 110px !important;
        height: 30px !important;
    }

    /*CARD */

    .card h5 {
        font-size: 20px;
    }
    .card h6 {
        font-size: 15px;
        color: grey;
    }
    .card p {
        font-size: 15px;
    }
    /*CARD ACTUALITE*/

    .card2 {
        display: flex !important;
        
    }
    .card2 .card-body {
        height: 100px;
        text-align: center;
    }
    .card2 img {
        height: 200px;
        
    } 

}
@media screen and (max-width: 870px) {
    #actualite h1 {
        font-size: 28px !important;
    }

    .imgActu1 {
        height: 160px !important;
        max-width: 100px;
    }
    .sombre {
        text-align: start !important;
    }

}

@media screen and (max-width :767px) {
    .sombre {
        text-align: center !important;
    }
}

@media screen and (max-width: 750px) {
    #actualite {
        height: 300px;
    }
    .imgActu1 {
        height: 130px !important;
        max-width: 80px;
    }

    #actualite h1 {
        font-size: 21px !important;
    }

    #actualite h3 {
        font-size: 16px !important;
}
}

@media screen and (max-width: 600px) {


    .textMobile {
        visibility: visible;
        font-size: 20px;
        height: 150px;
        margin-top: 0px;
    }

    .card1 {
        margin-bottom: 20px;
        height: 320px;
        overflow-x: auto;
    }

    .card1 .card-img-top {
        height: 200px;
    }
/* CONTENU HIDDEN DESKTOP & VISIBLE MOBILE*/
    #actualite {
        visibility: hidden;
        height: 0px !important;
        margin-top: 0px;
        
    }
    .textHidden {
        visibility: visible;
        color: var(--main-color-black);
        text-align: center;
        margin-top: 110px;
        font-weight: bold;
        font-size: 40px;
    }

    #actualite1 {
        visibility: visible;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0px;
        height: 350px;
        width: 100%;
        margin-top: 120px;
    }

    #actualite1 .imgActu {
        height: 250px;
        
    }
    
    #actualite1 h1, #actualite1 h3, #actualite1 button {
        visibility: hidden;
        height: 0px;
    }

    h2 {
        font-size: 20px !important;
    }

    /* TABLE */

    table th {
        font-size: 14px;
        
    }
    table p {
        font-size: 10px;
    }
    table span, table button {
        font-size: 9px !important;
    }
    table tr {
        height: 60px;
    }
    table td {
        
        font-size: 10px;
    }
    table img {
        width: 30px !important;
        height: 30px !important;
    }


}

@media screen and (max-width: 500px) {
    table th {
        font-size: 8px;
    }
    table p {
        font-size: 6px;
    }
    table span, table button {
        font-size: 6px !important;
    }
    table tr {
        height: 50px;
    }
    table td {
        
        font-size: 6px;
    }
    table img {
        width: 25px !important;
        height: 25px !important;
    }

}
@media screen and (max-width: 400px) {
    h1 {
        font-size: 30px !important;
    }
    /*CARD */

    .card h5 {
        font-size: 15px;
    }
    .card h6 {
        font-size: 10px;
        color: grey;
    }
    .card p {
        font-size: 10px;
    }
}
